<div class="container mt-5 text-center">
    <div class="card p-5">
      <h1 class="display-4">SMP: Student Management Portal</h1>
      <p class="lead">Welcome to the Student Management Portal. Manage your students with ease!</p>
      <div class="mt-4">
        <div class="row">
          <div class="col-6">
            <button pButton pRipple label="Add New Student" class="p-button-success rounded" (click)="goToAddStudentPage()"></button>
          </div>
          <div class="col-6">
            <button pButton pRipple label="List Students" class="p-button-success rounded" (click)="goToListStudentsPage()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>